{% extends "base.html" %}
{% load article_tags %}
{% load static %}
         <!--{% block sidebar %}
            <ul>
                <li><a href="/articles/all">Articles</a> </li>
                <li><a href="/articles/create">Create Articles</a> </li>

            </ul>
            <h3>Search</h3>
                {% csrf_token %}
                <input type="text" id="search" name="search"/>
                <ul id="search-results">

                </ul>
    {% endblock %}-->
        {% block content %}
            <!--<h2>language is {{ language }}</h2>
            <h2>Session language is {{ session_language }}</h2>-->
        <div class="jumbotron">
            <h1>Articles for you</h1>
            <p><a class="btn btn-lg btn-success" href="{% url 'kuchv.views.register_user'%}" role="button">Sign up today</a></p>
        </div>
        {% csrf_token %}
            <input type="text" id="search" class="form-control" placeholder="Search" required autofocus name="search"/>
                <ul id="search-results">

                </ul>

        <div class="row">
        {% if articles.count > 0 %}
        {% for article in articles %}
        {% if article.approved %}

                <div class="col-6 col-sm-6 col-lg-4">
                    <div class="well">
                        <h2>{{ article.title }}</h2>

                        <p>{{ article.body|article_shorten_body:250 }}</p>
                    </div>
                <p><a href="/articles/like/{{article.id}}" class="btn btn-xs btn-success">Like</a> </p>
                <p><small>{{ article.likes }} people liked this article</small></p>
                <p><a class="btn btn-default" href="{% url 'article.views.article' article.id %}">View details &raquo;</a> </p>
                <div class="alert alert-info">
                    <h4>Comments</h4>
                        {% for c in article.comment_set.all %}
                            <p>{{c.firstname}} {{c.lastname}}: {{c.body}}</p>
                            <small><a href="/articles/delete_comment/{{c.id}}" class="btn btn-xs btn-danger">Delete</a></small>

                        {% endfor %}
                </div>
                </div>
        {% endif %}
        {% endfor %}
        {% else %}
             <div class="col-6 col-sm-6 col-lg-4">
            <p>Nothing to show</p>
            </div>
        {% endif %}
            </div>
        {% endblock %}