{% extends "base.html" %}
{% load static %}
    {% block content %}
        <div class="jumbotron">
            <img src="{% static '/assets/images/ashu2.jpg' %}" class="img-circle pull-right img-responsive" width="200"/>
            <h1>Ashu</h1>

            <p><a class="btn btn-lg btn-success" href="https://www.facebook.com/ashutoshm90" role="button">Follow</a></p>
        </div>
        <h2>Skills</h2>
            <table class="table table-condensed alert alert-info">
                <thead>
                    <tr>
                        <th>Language</th>
                        <th>Skill level</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Python</td>
                        <td>Pro</td>
                    </tr>
                     <tr>
                        <td>Java</td>
                        <td>Pro</td>
                    </tr>
                     <tr>
                        <td>C++</td>
                        <td>Pro</td>
                    </tr>
                    <tr>
                        <td>C</td>
                        <td>Pro</td>
                    </tr>
                    <tr>
                        <td>Template</td>
                        <td>Pro</td>
                    </tr>
                     <tr>
                        <td>Html</td>
                        <td>Pro</td>
                    </tr>
                    <tr>
                        <td>Ruby</td>
                        <td>Semi-Pro</td>
                    </tr>
                     <tr>
                        <td>MySql</td>
                        <td>Semi-Pro</td>
                    </tr>
                    <tr>
                        <td>Sqlite</td>
                        <td>Semi-Pro</td>
                    </tr>
                    <tr>
                        <td>MongoDb</td>
                        <td>Semi-Pro</td>
                    </tr>
                    <tr>
                        <td>Javascript</td>
                        <td>Semi-Pro</td>
                    </tr>
                    <tr>
                        <td>MySql</td>
                        <td>Semi-Pro</td>
                    </tr>
                    <tr>
                        <td>C#</td>
                        <td>Semi-Pro</td>
                    </tr>
                    <tr>
                        <td>Php</td>
                        <td>Novice</td>
                    </tr>
                    <tr>
                        <td>Css</td>
                        <td>Novice</td>
                    </tr>
                </tbody>

            </table>
            <table class="table condensed-table alert alert-success">
                <thead>
                    <tr>
                        <th>Framework</th>
                        <th>Skill Level</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Django</td>
                        <td>Pro</td>
                    </tr>
                    <tr>
                        <td>Node.js</td>
                        <td>Semi-pro</td>
                    </tr>
                    <tr>
                        <td>Bootstrap</td>
                        <td>Semi-pro</td>
                    </tr>
                </tbody>
            </table>

    {% endblock %}