{% extends "base.html" %}
    {% block content %}
    <h2>Hi {{full_name}} you are logged in!! yippe</h2>
    {% if notifications.count > 0 %}
        <h3>Notification</h3>
        {% for n in notifications %}
            <p><a href="/notification/show/{{n.id}}">{{n.title}}</a> </p>
        {% endfor %}
    {% endif %}
    <p> <a href="/accounts/logout/" class="btn btn-primary">Logout</a></p>
    <p> <a href="/accounts/profile/" class="btn btn-primary">Profile</a> </p>


    {% endblock %}